*
{
    margin: 50px;
    
}
body
{
    background-color: blue;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
img
{
    width: 200px;
    height: 259px;
}
p
{
    background-color: blanchedalmond;
}
h1

{
    background-color: blueviolet;
}